################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/inspectionProfiles
/data_model/__pycache__
/authorization/__pycache__
/__pycache__
/app_configurations/__pycache__
/.idea
